<p>orders works!</p>


<form  class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>User Id:</mat-label>
    <input id="userid" matInput placeholder="UserId" value="">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Pc Id:</mat-label>
    <input id="pcid" matInput placeholder="PcId" value="">
  </mat-form-field>

  <mat-button-toggle (click)="this.buyPc()" >Buy Pc</mat-button-toggle>

</form>

<div>
</div>

