<p>configuartor works!</p>

<button (click)="this.getPartList()">Get Parts</button>


<ul *ngIf="this.itemList != null ">
  <div *ngFor="let part of this.itemList | keyvalue">
    <fieldset>
      {{part.key}}
      <form>
        <ul *ngIf="part.value">
          <form *ngFor="let article of part.value">

            <mat-radio-button (click)="this.onclickedTsheckBox(part.key ,article['serialNumber'])"
                              id="{{article['serialNumber']}}"></mat-radio-button>
            {{article["name"]}}
            ({{article["serialNumber"]}})
            : {{article["price"]}}€
          </form>
        </ul>
      </form>
    </fieldset>

  </div>
</ul>
<mat-button-toggle (click)="this.save()">
  Save
</mat-button-toggle>
<div id="showresult">
</div>












