<!doctype html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
</head>
<body>
<section class="bg-light">
  <div class="container">
    <mat-button-toggle (click)="this.listCustomer()">List Customer</mat-button-toggle>
    <mat-button-toggle (click)="this.listPrebuildPc()">List Prebuild PC</mat-button-toggle>
    <mat-button-toggle (click)="this.listOtherPc()">List configured PC</mat-button-toggle>
    <mat-button-toggle (click)="this.getPcbyId()">Get Pc by Customer ID</mat-button-toggle>

    <mat-form-field>
      <mat-label>Customer Id</mat-label>
      <input matInput [(ngModel)]="pcid" #ctrl="ngModel" />
    </mat-form-field>

    <div id="customer" class="testkahabkeinenbockmehr">
      <div class="header">
        <h2 class="headerclass">Vorname:</h2>
        <p class="contentclass" id="customervorname"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Nachname:</h2>
        <p class="contentclass" id="customernachname"></p>
      </div>

      <div class="header">
        <h2 class="headerclass">Id:</h2>
        <p class="contentclass" id="customerid"></p>
      </div>
    </div>

    <div id="prebuild" class="testkahabkeinenbockmehr">
      <div class="header">
        <h2 class="headerclass">Id:</h2>
        <p class="contentclass" id="prebuildid"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Modell: </h2>
        <p class="contentclass" id="prebuildmanufacturer"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Modellnummer: </h2>
        <p class="contentclass" id="prebuildmodel"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Preis: </h2>
        <p class="contentclass" id="prebuildprice"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Garantie: </h2>
        <p class="contentclass" id="prebuildwarrantyEnd"></p>
      </div>
    </div>

    <div id="configured" class="testkahabkeinenbockmehr">
      <div class="header">
        <h2 class="headerclass">Id: </h2>
        <p class="contentclass" id="configuredid"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Preis:</h2>
        <p class="contentclass" id="configuredprice"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Garantie: </h2>
        <p class="contentclass" id="configuredwarrantyEnd"></p>
      </div>
    </div>

    <div id="pcbyid" class="testkahabkeinenbockmehr">
      <div class="header">
        <h2 class="headerclass">ID:</h2>
        <p class="contentclass" id="customeridpc"></p>
      </div>
      <div class="header">
        <h2 class="headerclass">Price:</h2>
        <p class="contentclass" id="customerpirceid"></p>
      </div>

      <div class="header">
        <h2 class="headerclass">Warrenty end:</h2>
        <p class="contentclass" id="customerwarrantyEnd"></p>
      </div>

      <div class="header">
        <h2 class="headerclass">PCiD:</h2>
        <p class="contentclass" id="customerpcid2"></p>
      </div>
    </div>


  </div>
</section>

</body>
</html>
