@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  height:20vh;
  background: #FF416C;
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  background: linear-gradient(to right, #fa8c01, #da3472);
  background-repeat: no-repeat;;
}



#content{
  background: rgb(82, 82, 82);
}


footer{
  position: fixed;
  text-align: center;
  bottom: 2vw;
  width: 100vw;
  background-color: #000;
}
footer a{
  color: #fff;
  text-align: center;
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}
