<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a routerLink="configurator">configurator</a>
    </li>
    <li>
      <a routerLink="customer">customer</a>
    </li>
    <li>
      <a routerLink="home">home</a>
    </li>
    <li>
      <a routerLink="orders">orders</a>
    </li>
    <li>
      <a routerLink="part-details">part-details</a>
    </li>
    <li>
      <a routerLink="part-list">part-list</a>
    </li>
  </ul>
</nav>
</body>
</html>

<router-outlet></router-outlet>
